{% macro plot_list(imagepars) %}
{% for url,w in imagepars %}
<div id="image">
  <a href={{url}}>
  <img src={{url}} width={{w}}>
  </a>
</div>
{% endfor %}
{% endmacro %}

{% macro table_list(table) %}
<table cellspacing='0'>
{% for key, value in table.iteritems() %}
    <tr>
         <th> {{ key }}
	 <td> {{ value}}
    </tr>
{% endfor %}
</table>
{% endmacro %}


{% macro scatter_coords(starname,starcoords,coords) %}
<script>        
$(function () {
    $('#scatter').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Location of {{starname}} on FOV'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'RA (deg)'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Dec (deg)'
            }
        },

        plotOptions: {
            scatter: {
                marker: {
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x}, {point.y}'
                }
            }
        },
        series: [
{
name: 'K2 Target Stars',
data: [
{% for ra,dec in coords %}
[{{ra}},{{dec}}],
{% endfor %}
]
},
{
name: '{{starname}}',
marker: {radius: 10,},

data: [
{% for ra,dec in starcoords %}
[{{ra}},{{dec}}],
{% endfor %}
]
}
]


    });
});
</script>
{% endmacro %}


{% macro scatter_coords2(starname,starcoords,coords) %}
<script>        
$(function () {
    $('#scatter').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Location of {{starname}} on FOV'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'RA (deg)'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Dec (deg)'
            }
        },

        plotOptions: {
            scatter: {
                marker: {
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x}, {point.y}'
                }
            }
        },
        series: [
{
name: 'K2 Target Stars',
data: [ {{ coords }} ],
},
{
name: '{{starname}}',
marker: {radius: 10,},

data: [
{% for ra,dec in starcoords %}
[{{ra}},{{dec}}],
{% endfor %}
]
}
]


    });
});
</script>
{% endmacro %}
