{% extends "base.html" %}
{% from 'macros.html' import plot_list %}
{% from 'macros.html' import table_list %}
{% from 'macros.html' import scatter_coords %}

{% block title %} K2 Vetting {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block sidebar %}
{{table_list(cattable)}}
{{table_list(table)}}
{{ scatter_coords(starname,starcoords,coords) }}
<div id="scatter" style="width: 350px; height: 350px; margin: 0 auto"></div>
  <a href=http://irsa.ipac.caltech.edu/applications/finderchart/#&id=Hydra_finderchart_finder_chart&projectId=finderchart&UserTargetWorldPt={{ target['ra'] }};{{ target['dec'] }};EQ_J2000&subsize=0.0375&sources=DSS,SDSS,2MASS&DoSearch=true target="_blank">
    Finder Charts @ IPAC<br> (Opens New Window)
  </a>

{% endblock %}
{% block main %}
{% block buttons %}
<div class="container">
  <h1>Vetting {{ starname }}</h1>
  <form method="post" >
    <p>
    <input type="submit" name="is_eKOI" value="eKOI">
    <input type="submit" name="not_eKOI" value="Not eKOI">
    {{ is_eKOI_string }} 
    </p>

    <p>
    {% for key,value in is_EB_buttons.iteritems() %}
    <input type="submit" name="{{ key }}" value="{{ value }} ">
    {% endfor %}
    {{ is_EB_string }} 
    </p>
  </form>
</div>
{% endblock %}

{% block content %}
  {{plot_list(tps_imagepars)}}
  {{plot_list(phot_imagepars)}}
  {{table_list(tablelong)}}
{% endblock %}

{% endblock %}
