{% extends "vetting_template_C1.html" %}
{% block title %} Vetting Session {% endblock %}


{% block sidebar %}
{{ super() }}

<div class="container" >  
  <p style="width:350px;">
  {% for star in res %}
    {% if star['starname_current'] %}
    <b> {{star['starname']}} </b>
    {% else %}
    {{star['starname']}} 
    {% endif %}

  <font color='{{ star['is_eKOI_color'] }}'> &#9679; </font>
  <font color='{{ star['is_EB_color'] }}'> &#9679; </font>

  {% endfor %}
  </p>
</div>
{% endblock %}

{% block main %}

  {% block buttons %}  
    {{ super() }}
    <form method="post" >
      <input class="btn btn-primary" type="submit" name="prev" value="Prev">
      <input class="btn btn-primary" type="submit" name="next" value="Next">
      <input class="btn btn-primary" type="submit" name="clear" value="Clear">
    </form>
  {% endblock %}

  {% block content %}
    {{ super() }}
  {% endblock %}

{% endblock %}
