{% extends "base.html" %}
{% from 'macros.html' import plot_list %}
{% from 'macros.html' import table_list %}

{% block title %} K2 Vetting {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="container">
      <h1>Vetting {{ starname }}</h1>
      <form method="post" >
	<input type="submit" name="is_eKOI" value="eKOI">
	<input type="submit" name="not_eKOI" value="Not eKOI">
	{{ is_eKOI_string }} 
      </form>
  </div>

  {{table_list(cattable)}}
  {% from 'macros.html' import  scatter_coords %}
  {{ scatter_coords(starname,starcoords,coords) }}
  <div id="scatter" style="width: 350px; height: 350px; margin: 0 auto"></div>

  {{plot_list(tps_imagepars)}}
  {{plot_list(phot_imagepars)}}
  {{table_list(table)}}
  {{table_list(tablelong)}}

{% endblock %}
