<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Enter in List of Starnames </h3>
      </div>
      <hr/>
      <form class="form" method="post">
        <div class="form-group">
          <div class="col-lg-2">
            <input type="text" name="starname_list" placeholder="List of starnames"
                   class="form-control">
          </div>

        <input type="submit" class="btn btn-primary" value="Submit">
	  <p>
	  e.g. 202092659 202091740 202135853 202087553 202068686
	  </p>
      </form>
    </div>
  </body>
</html>
